<div class="container">
  <div class="container1">
    <form>
      <label for="D_name">District Name</label>
      <input type="text" id="name" name="D_name" ><br><br>
      <label for="area">Area(sq mt)</label>
      <input type="text" id="area" name="area"><br><br>
      <label for="pop">Population</label>
      <input type="text" id="pop" name="pop"><br><br>
      <button type="button" class="btn btn-secondary">Save</button>
    </form>
  </div>
  <div class="container2">
    <form>
      <label class="radio">Biggest District(Area wise)<br><br>
        <input type="radio" name="optradio"  checked>Chennai
      </label>
      <label class="radio-inline">
        <input type="radio" name="optradio" style ="color:green;">Coimbatore
      </label>
      <label class="radio-inline">
        <input type="radio" name="optradio" >Salem
      </label>
    </form>
  </div>
  <div class="container3">
    <form>
      <label class="radio1">Highest populated District<br><br>
        <input type="radio" name="optradio" checked>Chennai
      </label>
      <label class="radio-inline">
        <input type="radio" name="optradio">Coimbatore
      </label>
      <label class="radio-inline">
        <input type="radio" name="optradio" >Salem
      </label>
    </form>
  </div>
</div>
